---
import { createClient } from '@supabase/supabase-js';
const supabase = createClient(import.meta.env.PUBLIC_SUPABASE_URL, import.meta.env.PUBLIC_SUPABASE_ANON_KEY);

const { count } = await supabase
  .from('urls')
  .select('*', { count: 'exact', head: true });
---
<footer class="w-full fixed shadow-[0_5px_10px_rgba(0,0,0,0.05)] text-slate-200 shadow-black bottom-0 bg-[#1c222b]">
    <div class="flex justify-between px-5 py-3 items-center">
        <a href="/" class="flex gap-3">
            <img class="w-6" src="/github.svg" alt="">
            Rate on GitHub
        </a>
        <p class="mt-4 text-right translate-y-[-7px] text-sm">
            <span class="font-semibold">{count}</span> URLs acortadas en toda la aplicación.

        </p>
    </div>
</footer>