---
import '../styles/global.css';
import DashboardRouter from "../../components/DashboardRouter.jsx";
import Header from "../../components/Header.jsx";
import Footer from "../../components/Footer.astro";
---

  <!DOCTYPE html>
  <html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body class="bg-[#1c222b]">
    <Header client:load/>

    <DashboardRouter client:only="react" />
 
    <Footer client:load/>
  </body>
  </html>
