---
import Header from "../../components/Header.jsx";
import Footer from "../../components/Footer.astro";
import '../styles/global.css'
import Login from "../../components/Login.jsx";
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GRAMM │ Login</title>
</head>
<body class="flex flex-col bg-slate-950 justify-between min-h-screen">
    <Header 
    client:load/>
    <div class="min-h-screen flex items-center">
    <Login 
    client:only/>
    </div>
    
    <Footer 
    />
</body>
</html>